{% extends 'base.html.twig' %}

{% block contenido %}
    <div class="col col-md-8">
        <h1>Proyecto edit</h1>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <br/>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save">&nbsp;Grabar</i></button>
            <a href="{{ path('proyecto_index') }}" class="btn btn-success"><i class="fa fa-list">&nbsp;Regresar a la Lista</i></a>
        {{ form_end(edit_form) }}
        
        
        <br/>
        {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o">&nbsp;Eliminar</i></button>
        {{ form_end(delete_form) }}        
    </div>
    <div class="col col-md-4">
        
    </div>    
{% endblock %}
