{% extends 'base.html.twig' %}

{% block contenido %}
    <h1>Proyectos</h1>

    <div class="row">
        {% for proyecto in proyectos %}
            
            
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">                        
                        <div class="caption">
                            <h3>{{proyecto.nombre}}</h3>
                            <p>
                                <i class="fa fa-quote-left fa-pull-left fa-border" aria-hidden="true"></i>
                                {{proyecto.descripcion}}</p>
                            <p>                                
                                <a href="{{ path('proyecto_iniciar', { 'id': proyecto.id }) }}" class="btn btn-primary"><i class="fa fa-check-square"></i>&nbsp;Ingresar</a>                        
                                <a href="{{ path('proyecto_edit', { 'id': proyecto.id }) }}" class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp;Editar</a>                        
                            </p>
                        </div>
                    </div>
                </div>                                                            
        {% endfor %}
    </div>
        <a href="{{ path('proyecto_new') }}" class="btn btn-success"><i class="fa fa-plus-square"></i>&nbsp;Crear nuevo proyecto</a>       
{% endblock %}
