{% extends 'base.html.twig' %}

{% block contenido %}
    <h1>Proyecto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proyecto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ proyecto.nombre }}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ proyecto.lugar }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ proyecto.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{% if proyecto.fechaRegistro %}{{ proyecto.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proyecto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('proyecto_edit', { 'id': proyecto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
