{% extends 'base.html.twig' %}

{% block contenido %}
    <h1>Cliente</h1>

    <table>
        <tbody>            
            <tr>
                <th>Cedula</th>
                <td>{{ cliente.cedula }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ cliente.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ cliente.apellidos }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cliente.telefono }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ cliente.descripcion }}</td>
            </tr>            
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
