{% extends 'base.html.twig' %}

{% block contenido %}
    <h1>Lotes list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Lote</th>
                <th>Medidas</th>
                <th>Descripcion</th>
                <th>Fecharegistro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set num = 1 %}
        {% for lote in lotes %}
            <tr>
                <td>{{num}}</td>               
                <td>{{ lote.nombreLote }}</td>
                <td>{{ lote.medidas }}</td>
                <td>{{ lote.descripcion }}</td>
                <td>{% if lote.fechaRegistro %}{{ lote.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('proyecto_lote_show', {'pId':pId.id, 'id': lote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('proyecto_lote_edit', {'pId':pId.id, 'id': lote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% set num = num + 1%}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proyecto_lote_new',{'pId':pId.id}) }}">Create a new lote</a>
        </li>
    </ul>
{% endblock %}
